<?xml version="1.0"?>
<model>
  <name>x500_flow_upward</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Aaron Porter</name>
    <email>aaron.porter@ascendengineer.com</email>
  </author>
  <description>An x500 with distance sesnor and camera for optical flow</description>
</model>
